*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px  100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 30px;
    color:antiquewhite;
    text-decoration: none;
    font-weight: 800;
}
.navbar a{
    position: relative;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color:antiquewhite;
    margin-left: 70px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background-color:rgb(255, 255, 255);
    transition: .2s;
}
.navbar a:hover::before {
    width: 100%;
}
body{
    min-height: 100vh;
    background: url('images/moonbackground.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(147, 219, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sh1{
    text-shadow: 2px 2px 6px;
}
#img1{
    float: left;
}
#bt1{
    margin-bottom: 10px;
}